/packages/EntityFramework.5.0.0/Content/App.config.transform
/packages/EntityFramework.5.0.0/Content/Web.config.transform
/packages/EntityFramework.5.0.0/EntityFramework.5.0.0.nupkg
/packages/EntityFramework.5.0.0/lib/net40/EntityFramework.dll
/packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
/packages/EntityFramework.5.0.0/lib/net45/EntityFramework.dll
/packages/EntityFramework.5.0.0/lib/net45/EntityFramework.xml
/packages/EntityFramework.5.0.0/tools/about_EntityFramework.help.txt
/packages/EntityFramework.5.0.0/tools/EntityFramework.PowerShell.dll
/packages/EntityFramework.5.0.0/tools/EntityFramework.PowerShell.Utility.dll
/packages/EntityFramework.5.0.0/tools/EntityFramework.PS3.psd1
/packages/EntityFramework.5.0.0/tools/EntityFramework.psd1
/packages/EntityFramework.5.0.0/tools/EntityFramework.psm1
/packages/EntityFramework.5.0.0/tools/init.ps1
/packages/EntityFramework.5.0.0/tools/install.ps1
/packages/EntityFramework.5.0.0/tools/migrate.exe
/packages/EntityFramework.5.0.0/tools/Redirect.config
/packages/EntityFramework.5.0.0/tools/Redirect.VS11.config
/packages/repositories.config

/*.suo

/*.rar

ApotekMedicalCenter.exe
ApotekMedicalCenter.exe.config
ApotekMedicalCenter.pdb
ApotekMedicalCenter.vshost.exe
ApotekMedicalCenter.vshost.exe.config
EntityFramework.dll
EntityFramework.xml
ApotekMedicalCenter.Properties.Resources.resources
ApotekMedicalCenter.csproj.FileListAbsolute.txt
ApotekMedicalCenter.csproj.GenerateResource.Cache
ApotekMedicalCenter.csprojResolveAssemblyReference.cache
ApotekMedicalCenter.exe
ApotekMedicalCenter.g.resources
ApotekMedicalCenter.pdb
ApotekMedicalCenter_MarkupCompile.cache
ApotekMedicalCenter_MarkupCompile.i.cache
App.g.cs
App.g.i.cs
DesignTimeResolveAssemblyReferencesInput.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Register.baml
Register.g.cs
Register.g.i.cs
